header h1 a {
  font-size: 48px;
  font-weight: 300;
  color: #333;
}

header h1 a:hover {
  color: #333;
}

header p a {
  font-size: 17px;
  padding-right: 10px;
}

article {
  margin-top: 20px;
  font-family: Georgia;
}

code {
  background-color: #f5f5f5;
  color: inherit;
}

article.resume p {
  margin: 0 0 5px;
}

section {
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 700px;
}

.subsection {
  margin-top: 20px;
  margin-bottom: 10px;
}

.hljs {
  background-color: inherit;
}
